<div>
    <a href="#" data-toggle="dropdown" title="{{ user.useremail }}" class="header-icon d-flex align-items-center justify-content-center ml-2">
        <img src="{{ user.displayPhoto }}" class="profile-image rounded-circle" alt="{{ user.useremail }}">
        <!-- you can also add username next to the avatar with the codes below:
        <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
        <i class="ni ni-chevron-down hidden-xs-down"></i> -->
    </a>
    <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
        <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
            <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                <span class="mr-2">
                    <img src="{{ user.displayPhoto }}" class="rounded-circle profile-image" alt="{{ user.useremail }}">
                </span>
                <div class="info-card-text">
                    <div class="fs-lg text-truncate text-truncate-lg">{{ user.userfirstname }} {{ user.userlastname }} </div>
                    <span class="text-truncate text-truncate-md opacity-80">{{ user.useremail }}</span>
                </div>
            </div>
        </div>
        <a class="dropdown-item fw-500 pt-3 pb-3 text-center" href="{{ path('logout')}}">
            <span data-i18n="drpdwn.page-logout">Déconnexion</span>
        </a>
    </div>
</div>